* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #eeeeee;
}

.container {
    width: 80%;
    min-width: 600px;
    /* margin: 0 auto; */
}

.cards {
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 1200px) {
    .container {
        margin: 0 auto;
    }
    .cards {
        grid-template-columns: 1fr;
        width: fit-content;
    }
}

.card {
    width: 580px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
    margin: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: #fff;
}
.card:hover { box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); }

.bagetf {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 50%;
}



.card__img {
    height: 200px;
    width: 290px;
}

.card__crop {
    height: 50px;
    width: 230px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    border-radius: 5px;
}

.card__crop-placeholder {
    height: 50px;
    width: 230px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    border-radius: 5px;
    background-color: #eeeeee;
}

.card__right-block {
    margin: 30px;
    flex-direction: column;
    width: 100%;
}

.card__detect {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.number {
    border: 1px solid #000;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    padding: 0 5px;
    margin-left: 5px;
}

.nav {
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__el {
    display: flex;
    align-items: center;
    margin: 5px;
    height: 30px;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.nav__el:hover { box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); }
.nav__cur { padding: 0 10px; }

.stat {
    height: 30px;
    display: flex;
    margin-left: 10px;
    padding: 10px;
    width: fit-content;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}
.stat__el {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.stat__header {
    margin: 0 10px;
    font-weight: bold;
    text-shadow: none;
}

.green { background-color: #98ee95;}
.yellow { background-color: #f8e95e;}
.red { background-color: #fa7c5a;}

.green-txt { color: #5e975c;}
.yellow-txt { color: #f8e95e;}
.red-txt { color: #fa7c5a;}